.finish-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 9999;
}

.finish-message.active {
    visibility: visible;
    opacity: 1;
}

.finish-box {
    background: rgb(112, 99, 99);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    animation: pop 0.4s ease;
}

.finish-box h2 {
    color: #3da142;
    margin-bottom: 15px;
}

.finish-box button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.finish-box button:hover {
    background: #1b5e20;
}

@keyframes pop {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}