body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 333px;
}

button {
    padding: 18px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    width: 100%;
}

button:hover {
    transform: translateY(-4px);
}

.morning,
.evening,
.tasbeeh,
.prayer,
.prophet-duas {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}


