* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0f0f0f;
    font-family: "Cairo", sans-serif;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    padding: 18px;
    background-color: #2E7D32;
    border-bottom: 3px solid #2E7D32;
    position: sticky;
    top: 0px;
    text-align: center;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}


.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    padding: 16px;
}

.parent>div {
    background-color: #1c1c1c;
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
}

.parent>div:hover {
    transform: translateY(-4px);
}

.parent p {
    color: white;
    padding: 18px;
    margin: 0;
    line-height: 1.9;
    font-size: 14px;
}

.less {
    opacity: 0.5;
    font-size: 13px;
}

.parent input {
    border: none;
    background-color: #1B5E20;
    color: white;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.parent input:hover {
    background-color: #2E7D32;
}


footer {
    text-align: center;
    padding: 20px;
    color: #888;
    font-size: 13px;
}

.home-btn {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.home-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}